<nav>
    <ul>
        <li>
            <a href="{{ path('game_home') }}">{{ 'menu.game'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('register') }}">{{ 'menu.register'|trans }}</a>
        </li>
        {% if app.user %}
            <li>
                <a href="{{ logout_path() }}">{{ 'menu.logout'|trans }}</a>
            </li>
        {% else %}
        <li>
            <a href="{{ path('login') }}">{{ 'menu.login'|trans }}</a>
        </li>
        {% endif %}
        <li>
            <a href="{{ path('contact') }}">{{ 'menu.contact'|trans }}</a>
        </li>
    </ul>
</nav>
